# Secrets & credentials
*.pem
*.key
.env
.env.*
credentials.json
secrets.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Build output
dist/
build/
*.zip
